/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Table Styles */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #007bff;
    color: #fff;
}

thead th {
    padding: 12px;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 10px;
    text-align: left;
    color: #333;
    font-size: 14px;
}

/* Hover Effect */
tbody tr:hover {
    background-color: #e9ecef;
}

/* Table Borders */
table, th, td {
    border: none;
}

table th, table td {
    border-bottom: 2px solid #007bff;
}

/* Button Link Styles */
a[href="/add"] {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 12px;
    text-align: center;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

a[href="/add"]:hover {
    background-color: #218838;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="search"] {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    width: 300px; /* Adjust as necessary */
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
/* Responsive Design */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }
    a[href="/add"] {
        width: 80%;
    }
    input[type="search"] {
        width: 200px; /* Adjust for smaller screens */
    }
}
